
  <div class="card">
  	<h5 class="card-header"><a class="article-link" target="_blank" href="{{url}}">{{headline}}"</a></h5>
  	<div class="card-body">
      <p class="card-text">{{summary}}</p>
      <div class="card-text text-right"><button class="btn btn-success btn-md save">Save Article</button></div>
    </div>
  </div>


