<div class="panel panel-default">

	<div class="panel-heading">
		<h3>
			<a class="article-link" target="_blank" href="{{url}}">{{headline}}"</a>
			<a class="btn btn-success save">Save Article</a>
		</h3>
	</div>

	<div class="panel-body">{{summary}}
	</div>

</div>

